In [6]:
import pandas as pd

airports = pd.read_csv("/Users/vasenceto/Desktop/cleaned_airports.csv")
routes = pd.read_csv("/Users/vasenceto/Desktop/cleaned_routes.csv")

In [7]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7698 entries, 0 to 7697
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AirportID   7698 non-null   int64
 1   Name        7698 non-null   object
 2   City        7649 non-null   object
 3   Country     7698 non-null   object
 4   IATA        7698 non-null   object
 5   ICAO        7698 non-null   object
 6   Latitude    7698 non-null   float64
 7   Longitude   7698 non-null   float64
 8   Altitude    7698 non-null   int64
 9   Timezone    7698 non-null   object
 10  DST         7698 non-null   object
 11  TzDatabase  7698 non-null   object
 12  Type        7698 non-null   object
 13  Source      7698 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 842.1+ KB

In [8]:
airports.head(5)

,AirportID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,TzDatabase,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [9]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               0 non-null      object
 1   AirlineID             0 non-null      object
 2   SourceAirport         0 non-null      object
 3   SourceAirportID       0 non-null      object
 4   DestinationAirport    0 non-null      object
 5   DestinationAirportID  0 non-null      object
 6   Codeshare             0 non-null      object
 7   Stops                 0 non-null      object
 8   Equipment             0 non-null      object
dtypes: object(9)
memory usage: 124.0+ bytes

In [10]:
rows_to_drop = routes.isin(['\\N']).any(axis=1)
routes.drop(routes[rows_to_drop].index, inplace=True)
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               0 non-null      object
 1   AirlineID             0 non-null      object
 2   SourceAirport         0 non-null      object
 3   SourceAirportID       0 non-null      object
 4   DestinationAirport    0 non-null      object
 5   DestinationAirportID  0 non-null      object
 6   Codeshare             0 non-null      object
 7   Stops                 0 non-null      object
 8   Equipment             0 non-null      object
dtypes: object(9)
memory usage: 124.0+ bytes

In [12]:
airports_iatas = airports["IATA"].tolist()
airports_iatas = [iata for iata in airports_iatas if iata != "\\N"]

airports_ids = airports["AirportID"].tolist()

In [15]:
rows_to_keep = (
    routes['SourceAirport'].isin(airports_iatas) &
    routes['DestinationAirport'].isin(airports_iatas)
)

routes = routes[rows_to_keep]
routes.info()

condition = (routes["SourceAirportID"].isin(airports_ids)) | (routes["DestinationAirportID"].isin(airports_ids))
routes = routes[~condition]
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               0 non-null      object
 1   AirlineID             0 non-null      object
 2   SourceAirport         0 non-null      object
 3   SourceAirportID       0 non-null      object
 4   DestinationAirport    0 non-null      object
 5   DestinationAirportID  0 non-null      object
 6   Codeshare             0 non-null      object
 7   Stops                 0 non-null      object
 8   Equipment             0 non-null      object
dtypes: object(9)
memory usage: 124.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               0 non-null      object
 1   AirlineID             0 non-null      object
 2   SourceAirport         0 non-null      object
 3   SourceAirportID       0 non-null      object
 4   DestinationAirport    0 non-null      object
 5   DestinationAirportID  0 non-null      object
 6   Codeshare             0 non-null      object
 7   Stops                 0 non-null      object
 8   Equipment             0 non-null      object
dtypes: object(9)
memory usage: 124.0+ bytes

In [17]:
routes = routes.drop(['Airline', 'AirlineID','SourceAirport','Stops','DestinationAirport','Codeshare','Equipment'], axis=1)
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SourceAirportID       0 non-null      object
 1   DestinationAirportID  0 non-null      object
dtypes: object(2)
memory usage: 124.0+ bytes

In [18]:
routes = routes.drop_duplicates()
routes["Stops"]=1
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SourceAirportID       0 non-null      object
 1   DestinationAirportID  0 non-null      object
 2   Stops                 0 non-null      int64
dtypes: int64(1), object(2)
memory usage: 124.0+ bytes

In [20]:
airports.to_csv("/Users/vasenceto/Desktop/airports_test.csv",index=False)
routes.to_csv("/Users/vasenceto/Desktop/routes_test.csv",index=False)